* {
    box-sizing: border-box; /* Setting the box sizing to be the same size as the border*/
    padding: 0; /*Setting default element margin size to 0 */
    margin: 0; /*Setting default element margin size to 0 */
}

body {
    background-color: #d9dcd6; /*Setting the background color of the element to white */
}

header {
    padding: 20px; /* Setting the element padding to 20px */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Setting the font family for the element text */
    background-color: #2a607c; /* Setting the background color of the element to dark blue */
    color: #ffffff; /*Setting the color of element text to white */
}

h1 {
    display: inline-block; /* Setting the element to display inline with other elements */
    font-size: 48px; /*Setting the element font size to 48px */
}

h1 .seo {
    color: #d9dcd6; /* Setting the seo class of the header a light grey */
}

nav {
    padding-top: 15px; /*Setting the top padding to 15px */
    margin-right: 20px; /*Setting the right side margin to 20px */
    float: right; /*Setting the element to float on the right side */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Setting the element font family for the element text */
    font-size: 20px; /*Setting the element font size to 20px */
}

ul {
    list-style-type: none; /* Setting the list to have no style type */
}

li {
    display: inline-block; /*Setting the element to display inline with other elements */
    margin-left: 25px; /*Setting the left margin to 25px */
}

a {
    color: #ffffff; /* Setting the element text to white */
    text-decoration: none; /* Removing all text decoration to the anchor text */
}

p {
    font-size: 16px; /* Setting all the p element font size to 16px */
}

#hero {
    margin-bottom: 25px; /* Added a 25px high margin to the bottom of the hero section*/
}

#hero img {
    height: 800px; /*Setting the height of the hero img element to be 800px */
    width: 100%; /*Setting the width of the hero img element to be 100% of the window width*/
    object-fit: cover; /*Telling the hero img element how to fit in the window */
}

main {
    width: 75%; /*Defining the width of the main element to be 75% of the window width*/
    display: inline-block; /*Setting this element to display inline with other elements */
    margin-left: 20px; /*Added a 25px margin to the left side of the element */
}
/* */
.main-subsections {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* */
.main-subsections h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* */
.main-subsections img {
    max-height: 200px;
}
/* */
.float-left {
    float: left;
    margin-right: 25px;
}
/* */
.float-right {
    float: right;
    margin-left: 25px;
}
/* */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* */
.aside-subsections {
    margin-bottom: 32px;
    color: #ffffff;
}
/* */
.aside-subsections h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* */
.aside-subsections img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* */
footer h2 {
    font-size: 20px;
}
